{% include "header.html" %}

<h1>
<a href=../../>yaq</a>/<a href=../>daemons</a>/{{ daemon.name }}
</h1>

<hr>

{{ daemon.doc }}

{% if daemon.links %}
{{ helpers.h2("external links") }}
<p class="tab30">
{% for k, v in daemon.links.items() %}
  <a href={{ v }}>{{ k }}</a> <br>
{% endfor %}
{% endif %}

{% if daemon.installation %}
{{ helpers.h2("installation") }}
<p>
  The {{ daemon.name }} daemon can be installed using the following package managers:
</p>
<p class="tab30">
{% for k, v in daemon.installation.items() %}
  <a href={{ v }}>{{ k }}</a> <br>
{% endfor %}
{% endif %}

{% if daemon.traits %}
{{ helpers.h2("traits") }}
<p>
  The {{ daemon.name }} daemon is <a href="https://en.wikipedia.org/wiki/Composition_over_inheritance">composed</a> of the following traits:
</p>
<p class="tab30">
{% for t in daemon.traits %}
  <a href=../../traits/{{ t }}>{{ t }}</a>
  <br>
{% endfor %}
</p>
{% endif %}

{% if daemon.hardwares %}
<h2>hardware</h2>
<p>
  The {{ daemon.name }} daemon has been tested with the following hardware:
</p>
<p class="tab30">
{% for h in daemon.hardwares %}
  {% set list1 = h.split(':') %}
  <a href="../../hardware/{{ list1[0] }}">{{ list1[0] }}</a>/<a href="../../hardware/{{ list1[0] }}/{{ list1[1] }}">{{ list1[1] }}</a><br>
{% endfor %}
</p>
{% endif %}

{% if daemon.config %}
{{ helpers.h2("configuration") }}
{% for k, v in daemon.config.items() %}
  {{ helpers.config(k, v, daemon) }}
{% endfor %}
{% endif %}

{% if daemon.state %}
{{ helpers.h2("state") }}
<p>
  The {{ daemon.name }} daemon will provide the following state information:
</p>
{% for k, v in daemon.state.items() %}
  {{ helpers.state(k, v, daemon) }}
{% endfor %}
{% endif %}

{% if daemon.messages %}
{{ helpers.h2("messages") }}
<p>
  The {{ daemon["name"] }} daemon will expose the following public messages:
</p>
{% for k, v in daemon.messages.items() %}
  {{ helpers.message(k, v, daemon) }}
{% endfor %}
{% endif %}

{% include "footer.html" %}
