{% include "header.html" %}

<h1>
<a href=../../>yaq</a>/<a href=../>traits</a>/{{ trait["name"] }}
</h1>

<hr>

{{ trait.doc }}


{% if trait.requires %}
{{ helpers.h2("requires") }}
<p class="tab30">
{% for r in trait.requires %}
  <a href=../{{ r }}>{{ r }}</a>
  <br>
{% endfor %}
</p>
{% endif %}


{% if trait.config %}
{{ helpers.h2("configuration") }}
<p>
  Daemons with the {{ trait["name"] }} trait expect the following configuration:
</p>
{% for k, v in trait.config.items() %}
  {{ helpers.config(k, v, trait) }}
{% endfor %}
{% endif %}

{% if trait.state %}
{{ helpers.h2("state") }}
<p>
  Daemons with the {{ trait["name"] }} trait will provide the following state information:
</p>
{% for k, v in trait.state.items() %}
  {{ helpers.state(k, v, trait) }}
{% endfor %}
{% endif %}

{% if trait.messages %}
{{ helpers.h2("messages") }}
<p>
  Daemons with the {{ trait["name"] }} trait expose the following public messages:
</p>
{% for k, v in trait.messages.items() %}
  {{ helpers.message(k, v, trait) }}
{% endfor %}
{% endif %}

{% if trait.daemons %}
{{ helpers.h2("daemons") }}
<p>
  The following daemons implement the {{ trait.name }} trait:
</p>
<p class="tab30">
{% for d in trait.daemons %}
  <a href=../../daemons/{{ d }}>{{ d }}</a>
  <br>
{% endfor %}
</p>
{% endif %}

{% include "footer.html" %}
